<!--
 * @Author: zhangfu 18072150332@163.com
 * @Date: 2025-07-03 00:20:28
 * @LastEditors: zhangfu 18072150332@163.com
 * @LastEditTime: 2025-07-18 12:45:41
-->
<!DOCTYPE html>
<html lang="zh-CN">
<!-- head标签 -->
<%- partial('_partials/head', {
    isPostPage: false,
    hasMarkdown: false
}) %>
<body class="font-inter bg-gray-50 text-dark">

    <%- partial('_partials/header', { isPostPage: false }) %>
    <!-- 英雄区域 -->
    <%- partial('_widgets/index/hexoSection') %>
    <!-- 文章区域 -->
    <%- partial('_widgets/index/articlesSection') %>
    <!-- 推荐文章区域 -->   
    <%- partial('_widgets/index/featuredArticleSection') %>
    <!-- 标签区域 -->
    <%- partial('_widgets/index/tagsSection') %>
    <!-- 关于我 -->
    <%- partial('_widgets/index/aboutSection') %>
    <%- partial('_partials/footerJs') %>
</body>
</html>